
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3


.venv/
env/
venv/


logs/
model/
*.joblib


.DS_Store
Thumbs.db
.vscode/
.idea/


.env
.env.*
**/.env
**/.env.*


!.env.example
!**/*.env.example
!*.example
!**/*.example


backend/.env.openApi
backend/.env.openAPI